<nav id="navigation">
    <ul>
          <li>
            <a href="{{site.baseurl}}/index.html" title="Go to Home" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
          </li>
          <li>      
            <a href="{{site.baseurl}}/paintings.html" title="Go to Paintings" class="{% if page.url == '/paintings.html' %}current{% endif %}">Paintings</a>      
          </li>
          <li>      
            <a href="{{site.baseurl}}/purchasing.html" title="Go to Purchasing" class="{% if page.url == '/purchasing.html' %}current{% endif %}">Purchasing</a>      
          </li>
          <li>      
            <a href="{{site.baseurl}}/contact.html" title="Go to Contact" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a>      
          </li>
    </ul>
</nav>
