---
---
@media print {
  :root {
    --body-bg: white;
    --body-color: black;
    --cassiopeia-color-link: black;
  }

  header,
  nav,
  footer,
  #previous-next
  {
    display: none !important;
  }

  body {
    font-size: .75rem;
  }

  #item-image {
    height: 50%;
    width: 50%;
  }

  .main-content {
    margin-left: 50px
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

}