---
---

@import "{{ site.theme }}";

/* Default to light colors */
body, h1, h2, h3, footer, #navigation .current { 
	color: black; 
}
body { 
	background: white; 
}
a, footer a {
	color: #c55;
}
a:hover, footer a:hover {
	color: #9c9;
}

@media (prefers-color-scheme: dark) {
	body, h1, h2, h3, footer, #navigation .current { 
		color: white; 
	}
	body {
		background-color: black;
	}
	a, footer a {
		color: yellow;
	}
	a:hover, footer a:hover {
		color: #9c9;
	}
}
  
@media (prefers-color-scheme: light) {
	body, h1, h2, h3, footer, #navigation .current { 
		color: black; 
	}
	body { 
		background: white; 
	}
	a, footer a {
		color: #c55;
	}
	a:hover, footer a:hover {
		color: #9c9;
	}
}

#navigation {
	overflow: hidden;
	margin-left: 20px;
	padding-bottom: 5px;
	border: 0;
 }

/* Navigation */
#navigation ul {
	list-style-type: none;;
	margin: 0;
	padding-left: 0px;
	padding-right: 10px;
}

#navigation ul li {
    border: 1px solid #cdc;
	display: inline-block;
	padding: 2px;
	text-decoration: none;
}

#navigation ul a {
	font-weight: bold;
}

#navigation a:hover {
	font-weight: bold;
	text-decoration: none;
}

#navigation .sub-menu {
    display: none
}

.inner {
	width: auto;
	max-width: 700px;
    margin: auto;
}

#main_content {
    padding-right: 20px;
    padding-left: 20px;
}

header {
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
}

body {
	background-image: none;
}

#container {
	background-image: none;
}

.painting-list {
	margin: 0;
	padding: 0;
    border: 0;
}

.painting-list ul {
	list-style:none;
	margin: 0;
	padding-left: 0px;
	padding-right: 10px;
    margin: 0 auto;
    text-align: center;
}
.painting-list ul li {
	display: block;
	padding: 2px;
	text-decoration: none;
    display: inline-block;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
}
