@import url("layout.css");
body {
	font-family: "Trebuchet MS", sans-serif;
}

#container {
	border-right: 2px solid #8c8c8c;
	border-bottom: 2px solid #8c8c8c;
	border-left: 2px solid #8c8c8c;
	background-color: #FFFFFF;
}

#masthead {
	background-color: #fff;
	background-color: #FFFFFF;
	text-align: center;
}

#content {
}

#column_l {
}

#column_r {
}

#footer {
	text-align: center;
	padding-bottom: 0px;
}

#previous_next {
	float:right;
}

#previous_next a {
}

#previous_next a img{
	border: none;
}

/* Navigation */
#navigation ul {
	list-style:none;
	margin: 0;
	padding-left: 0px;
	padding-right: 10px;
}

#navigation ul a {
	font-weight: bold;
	text-decoration: none;
	color: #c55;
	display: block;
	padding: 2px;
	border: 1px solid #cdc;
}

#navigation a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #9c9;
	/*border: 1px solid #c77;
	background-color: #c77;*/
}

#gallery_thumbnails ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

#gallery_thumbnails li {
	position: relative;
	z-index: 0;
	float: left;
}

#title {
	font-size: x-large;
	font-weight: bold;
	color: #c77;
	padding:10px
	
}

/* Site typography */
h1 {
	font-size: xx-large;
	color: #c77;
}
h2 {
	font-size: x-large;
	color: #c77;
}
h3 {
	font-size: large;
	color: #c77;
}
h4 {
	font-size: medium;
	color: #c77;
}
h5 {
	font-size: x-small;
	color: #c77;
}
h6 {
	font-size: xx-small;
	color: #c77;
}
blockquote,p,ol,ul {
	font-size: small;
	color: #000;
}

/* Footer */
#footer p {
	font-size: x-small;
	color: #c77;
}

/* Links */
a {
	color: #c55;
	text-decoration: none;
}

a:hover {
	color: #9c9;
	text-decoration: none;
}

.style_bold {
	font-weight: bold;
}

.style_italic {
	font-style: italic;
}

}
