vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2014 01:12:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_cacheddtm:TX|20 Apr 2014 01:12:03 -0000
vti_filesize:IR|42
vti_backlinkinfo:VX|
vti_syncofs_claudiastack.com\:21/www:TW|07 Sep 2015 16:14:59 -0000
vti_syncwith_claudiastack.com\:21/www:TX|20 Apr 2014 01:12:03 -0000
vti_donotpublish:BW|true
